:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #f306cf;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #eeeeee;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 14px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}

[data-theme=dark] {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #a9a9b3;
  --pagefind-ui-background: #232425;
  --pagefind-ui-border: #4e4e57;
  --pagefind-ui-tag: #3b3d42;
}
