{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">

        {{ if eq .RelPermalink "/categories/" }}
            <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
            <link href="/css/pagefind-custom.css" rel="stylesheet">
            <script src="/pagefind/pagefind-ui.js"></script>
            <div id="search"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({    element: "#search", 
                                        showSubResults: true,
                                        autofocus: true
                                    });
                });
            </script>
        {{ end }}

        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item" style="padding-top: 24px;">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{ with .Params.cover }}{{ $img := resources.Get . }}{{ if $img }}{{ $thumb := $img.Resize "200x" }}<img src="{{ $thumb.RelPermalink }}" width="15%" height="15%" loading="lazy" alt="thumb">{{ else }}<img src="{{ . }}" width="15%" height="15%" loading="lazy" alt="original">{{ end }}{{ end }}</span>
                            </a>
                            <a href="{{.Permalink}}" class="post-item-inner">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
